asgiref==3.8.1
autocommand==2.2.2
backports.tarfile==1.2.0
build==1.2.1
click==8.1.7
colorama==0.4.6
Django==5.1
django-cors-headers==4.4.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
importlib_metadata==8.4.0
importlib_resources==6.4.4
jaraco.context==6.0.1
jaraco.functools==4.0.2
jaraco.text==4.0.0
more-itertools==10.4.0
mysqlclient==2.2.4
packaging==24.1
pip-chill==1.0.3
pip-tools==7.4.1
platformdirs==4.2.2
PyJWT==2.9.0
pyproject_hooks==1.1.0
python-dotenv==1.0.1
setuptools==73.0.1
sqlparse==0.5.1
tomli==2.0.1
tzdata==2024.1
wheel==0.44.0
zipp==3.20.0
